 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Barlow+Condensed:wght@300&display=swap');

 /* Asterisk wildcard selector to overide default styles added by the browser */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* General styles */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /* Generic project styles */
     color: #3a3a3a;
     font-family: 'Barlow Condensed', sans-serif;
 }

 /* Header */
 header {
     background-color: #ffffff;
     padding: 0 1rem;
     position: fixed;
     z-index: 99;
     width: 100%;
     box-shadow: 0 2px 2px #3a3a3a;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header a {
     text-decoration: none;
     color: inherit;
 }


 #menu {
     font-size: 110%;
     letter-spacing: 4px;
     list-style-type: none;
 }

 #menu>li {
     margin-bottom: 1rem;
 }

 .active {
     border-bottom: 1px solid #3a3a3a;
 }

 /* Navbar styles with dropdown toggle */
 nav {
     position: absolute;
     background-color: #ffffff;
     width: 100%;
     left: 0;
     box-shadow: 0 2px 2px #3a3a3a;
     padding: 0 1rem;
     display: none;
     top: 100%;
 }

 /* Nav toggle */
 #nav-toggle:checked~nav {
     display: block;
 }

 #nav-toggle {
     display: none;
 }

 .nav-toggle-label {
     font-size: 2rem;
 }

 /* Main content */
 main {
     background-color: lightblue;
     /* make main content take up any surplus space to push footer*/
     flex: 1 0 auto;
     margin-top: 40px;
 }

 /* Footer */
 footer {
     background-color: rgb(10, 190, 34);
     padding: 5px;
     text-align: center;
 }
 .column-footer {
    float: left;
    width: 50%;
 }

 #telephone {
    padding: 10px 0;
    font-size: 120%;
    font-weight: bold;
    text-align: right;
 }
 

 /* Create two columns in the footer */
#social-media {
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i{ 
    font-size: 160%;
    padding: 3%;
}


 /* Resized logo for mobile response (425px and below */
 @media screen and (max-width: 425px) {

     /* logo */
     .logo {
         max-width: 60%;
         max-height: auto;
     }

     }

     /* Media query: tablets and larger (768px and above) */
     @media screen and (min-width: 768px) {

         /* logo */
         .logo {
             max-width: 90%;
             max-height: auto;
         }

         /* Header */
         nav {
             display: block;
             position: relative;
             box-shadow: none;
             width: fit-content;
             padding-right: 1rem;
         }

         #menu {
             display: flex;
         }

         #menu>li {
             padding-left: 1rem;
         }

         .nav-toggle-label {
             display: none;
         }

         /* Main content */
         main {
             margin-top: 73px;
         }
     }

     /* Media query: tablets and larger (992px and above) */
     @media screen and (min-width: 992px) {

         /* logo */
         .logo {
             max-width: 100%;
             max-height: auto;
         }

         #menu a:hover {
             border-bottom: 1px solid #3a3a3a;
         }

         /* Main content */
         main {
             margin-top: 81px;
         }
     }