 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Barlow+Condensed:wght@300&display=swap');

 /* Asterisk wildcard selector to overide default styles added by the browser */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* General styles */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /* Generic project styles */
     color: #3a3a3a;
     font-family: 'Barlow Condensed', sans-serif;
 }

 /* Header */
 header {
     background-color: #ffffff;
     padding: 0 1rem;
     position: fixed;
     z-index: 99;
     width: 100%;
     box-shadow: 0 2px 2px #3a3a3a;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header a {
     text-decoration: none;
     color: inherit;
 }

 #menu {
     font-size: 110%;
     letter-spacing: 4px;
     list-style-type: none;
 }

 #menu>li {
     margin-bottom: 1rem;
 }

 .active {
     border-bottom: 1px solid #3a3a3a;
 }

 /* Navbar styles with dropdown toggle */
 nav {
     position: absolute;
     background-color: #ffffff;
     width: 100%;
     left: 0;
     box-shadow: 0 2px 2px #3a3a3a;
     padding: 0 1rem;
     display: none;
     top: 100%;
     font-weight: bold;
 }

 /* Nav toggle */
 #nav-toggle:checked~nav {
     display: block;
 }

 #nav-toggle {
     display: none;
 }

 .nav-toggle-label {
     font-size: 2rem;
 }

 /* Main content */
 main {
     /* make main content take up any surplus space to push footer*/
     flex: 1 0 auto;
     margin-top: 35px;
    background: rgba(243, 251, 239, 1);
 }

 /* Hero section*/
 #hero {
     height: 600px;
     width: 100%;
     background: url("../images/water-view.jpeg") no-repeat center center/cover;
     position: relative;
 }

 #free-quotation {
     background-color: rgba(213, 112, 149, 0.6);
     text-align: center;
     font-size: larger;
     font-weight: bold;
     position: absolute;
     width: 95%;
     min-height: 140px;
     padding-top: 10px;
     position: absolute;
     bottom: 3%;
     color: #ffffff;

 }

 /* <a> tag in free-quotation div */
 #border {
     padding-top: 4px;
     border: 3px outset;
     width: 60%;
     padding-bottom: 5px;
     margin: auto;
 }

 #border a {
     text-decoration: none;
     background-color: rgba(88, 164, 176, 1);
 }

 #border a:hover {
     background-color: #45a049;
 }

 #about-us {
    background: rgba(224, 247, 222, 1);
     width: 95%;
     margin: 20px auto;
     padding: 0 5px;
 }

 #about-us>h1 {
     text-align: center;
     font-size: 280%;
 }

 #work {
     margin-top: 20px;
     line-height: 20px;
 }

 #work p {
     padding: 10px 20px;
     text-align: justify;
     line-height: 1.6;
 }

 #glazier {
     margin: 20px auto;
 }

 #auto-glass {
     margin: 20px auto;
 }

 #work hr {
     margin: 5px 0;
 }

 #work-img {
     background: url("../images/cut-glass.jpeg") no-repeat top center / cover;
     width: 90vw;
     height: 90vw;
     margin-bottom: 20px;
     border-radius: 25px;
     max-width: 300px;
     max-height: 300px;
     margin-right: 5px;
 }

 #work2-img {
     background: url("../images/red-house-windows.jpeg") no-repeat top center / cover;
     width: 90vw;
     height: 90vw;
     margin-bottom: 20px;
     border-radius: 25px;
     max-width: 300px;
     max-height: 300px;
 }

 #about-us-img {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 /* CSS styling for our-work.html */
 #our-work {
    background: rgba(224, 247, 222, 1);
    width: 90%;
    margin: 20px auto;
 } 

 #our-work>h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 280%;
 }
 #our-work>hr {
    width: 90%;
    margin: auto;
 }
 #our-work>p {
     text-align: center;
 }

 #gallery {
    margin-top: 20px;
 }

 .img-height {
    height: 300px;
 }

figcaption {
    font-size: 120%;
}

 /* CSS styling for ask-us.html */
 #ask-us {
    background: rgba(4, 170, 109, 0.1);
    width: 90%;
    margin: 20px auto;
 }

 #location {
     margin: 20px 0;
 }

 th {
     text-align: left;
     padding: 2px 4px;
 }

 /* form styling */
 .contact-form {
     border-radius: 10px;
     background-color: #f2f2f2;
     padding: 10px;
     width: 100%;
 }

 input[type=text],
 input[type=email],
 textarea {
     width: 100%;
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
 }

 legend {
     font-size: large;
     font-weight: 600;
     text-transform: uppercase;
 }

 input[type=submit] {
     background-color: rgba(88, 164, 176, 1);
     color: white;
     padding: 10px 15px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
    display: block;
        margin: 0 auto;

 }

 input[type=submit]:hover {
     background-color: #45a049;
 }

 #submit {
    margin-left: auto;
    margin-right: auto;
 }


 /* Footer */
 footer {
     background-color: rgba(88, 164, 176, 1);
     padding: 5px;
 }

 footer>p {
     text-align: center;
     font-weight: bold;
     padding-bottom: 5px;
 }

 /* Reduce hr size and centered */
 footer>hr {
     width: 80%;
     margin: auto;

 }

 /* Social media icons in the footer */
 #social-media {
     display: flex;
     justify-content: space-evenly;
     list-style-type: none;
     padding-top: 5px;
 }

 #social-media i {
     font-size: 140%;
     padding: 10%;
     align-items: center;
 }

 /* Resized logo for mobile response (425px and below */
 @media screen and (max-width: 430px) {
    /* logo */
     .logo {
         max-width: 60%;
         max-height: 50px;
     }

     /* Main content*/
     #showroom {
        text-align: center;
        font-size: medium;
        padding-bottom: 10px;
     }

     #contact-mobile {
        text-align: center;
     }

     #showroom-hr {
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
     }

     #work2-img {
         display: none;
     }

    #our-work>h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 180%;
    }

     

     /* Hide p and hr elements */
     footer>p {
         display: none;
     }

     footer>hr {
         display: none;
     }
 }

 /* Media query: tablets and larger (768px and above) */
 @media screen and (min-width: 768px) {
     /* logo */
     .logo {
         max-width: 90%;
     }

     /* Header */
     nav {
         display: block;
         position: relative;
         box-shadow: none;
         width: fit-content;
         padding-right: 1rem;
         padding-top: 1rem;
     }

     #menu {
         display: flex;
     }

     #menu>li {
         padding-left: 1rem;
     }

     .nav-toggle-label {
         display: none;
     }

     /* Main content */
     main {
         margin-top: 65px;
     }

     #showroom {
        padding-bottom: 10px;
     }

     /* Free quotation */
     #free-quotation {
         width: 300px;
         left: 50%;
         transform: translateX(-50%);
     }

     /* About us */
     #glazier,
     #auto-glass {
         display: flex;
         flex-direction: column;
         width: 100%;
     }

     #glazier>div,
     #auto-glass>div {
         width: 75%;
     }

     #auto-glass>div {
         text-align: end;
         align-self: flex-end;
     }

     /* our work */

    .img-height {
        width: 220px;
    }

     #gallery-photo1 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;    
     }

    #gallery-photo2 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
     }
  

     /* Ask us */
     #showroom-hr {
        width: 65%;
        margin: auto;
     }
     #address-location {
         text-align: center;
     }

     #address {
         text-align: left;
         padding-right: 50px;
     }

     #location {
         padding-left: 50px;
     }

     .pyhsical-location {
         display: inline-block;
         padding: 1rem 1rem;
         vertical-align: middle;

     }

    #ask-us {
         text-align: center;
     }

     .contact-form {
         display: inline-block;
         text-align: left;
     }

     iframe {
         height: 250px;
     }
 }

 /* Media query: tablets and larger (992px and above) */
 @media screen and (min-width: 992px) {

     /* logo */
     .logo {
         max-width: 100%;
         max-height: 50px;
     }

     #menu a:hover {
         border-bottom: 1px solid #3a3a3a;
     }

     /* Main content */
     main {
         margin-top: 56px;
     }

     #showroom-hr {
        width: 56%;
        margin: auto;
     }

 }

 /* Media query: tablets and larger (992px and above) */
 @media screen and (min-width: 1200px) {
     /* About us */

     #work {
         display: flex;
         flex-direction: row;
     }

     #work>div {
         flex: 1;
     }

     #about-us-img {
         order: 0;
     }

     #auto-glass {
         order: 1;
     }

     #auto-glass>div {
         align-self: flex-start;
     }

     #glazier>div {
         align-self: flex-end;
     }
  

     #ask-us {
         text-align: center;
     }

     .contact-form {
         width: 60%;
         display: inline-block;
         text-align: left;
     }

     #showroom-hr {
        width: 40%;
        margin: auto;
     }

 }