 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Barlow+Condensed:wght@300&display=swap');

 /* Asterisk wildcard selector to overide default styles added by the browser */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* General styles */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /* Generic project styles */
     color: #3a3a3a;
     font-family: 'Barlow Condensed', sans-serif;
 }

 /* Header */
 header {
     background-color: #ffffff;
     padding: 0 1rem;
     position: fixed;
     z-index: 99;
     width: 100%;
     box-shadow: 0 2px 2px #3a3a3a;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header a {
     text-decoration: none;
     color: inherit;
 }


 #menu {
     font-size: 110%;
     letter-spacing: 4px;
     list-style-type: none;
 }

 #menu>li {
     margin-bottom: 1rem;
 }

 .active {
     border-bottom: 1px solid #3a3a3a;
 }

 /* Navbar styles with dropdown toggle */
 nav {
     position: absolute;
     background-color: #ffffff;
     width: 100%;
     left: 0;
     box-shadow: 0 2px 2px #3a3a3a;
     padding: 0 1rem;
     display: none;
     top: 100%;
     font-weight: bold;
 }

 /* Nav toggle */
 #nav-toggle:checked~nav {
     display: block;
 }

 #nav-toggle {
     display: none;
 }

 .nav-toggle-label {
     font-size: 2rem;
 }

 /* Main content */
 main {
     /* make main content take up any surplus space to push footer*/
     flex: 1 0 auto;
     margin-top: 40px;
 }

 /* Hero section*/
 #hero {
    height: 600px;
    width: 100%;
    background: url("../images/water-view.jpeg") no-repeat center center/cover;
    position: relative;
 }

 #free-qoutation {
    background-color: rgba(186, 86, 123, 0.7);
    text-align: center;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    width: 95%;
    min-height: 120px;
    padding-top: 22px;
    position: absolute;
    bottom: 10%;
    
 }

 /* Footer */
 footer {
     background-color: rgba(78, 171, 165, 0.7);
     padding: 5px;
 }
 
footer > p {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

/* Reduce hr size and centered */
footer > hr {
    width: 80%;
    margin: auto;
}

 /* Social media icons in the footer */
#social-media {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 5px;
}

#social-media i{ 
    font-size: 140%;
    padding: 10%;
    align-items: center;
}


 /* Resized logo for mobile response (425px and below */
 @media screen and (max-width: 430px) {

     /* logo */
     .logo {
         max-width: 60%;
         max-height: auto;
     }

     /* Hide p and hr elements */
    footer>p {
        display: none;
     }
    
    footer>hr {
        display: none;
     }

     }

     /* Media query: tablets and larger (768px and above) */
     @media screen and (min-width: 768px) {

         /* logo */
         .logo {
             max-width: 90%;
             max-height: auto;
         }

         /* Header */
         nav {
             display: block;
             position: relative;
             box-shadow: none;
             width: fit-content;
             padding-right: 1rem;
             padding-top: 1rem;
         }

         #menu {
             display: flex;
         }

         #menu>li {
             padding-left: 1rem;
         }

         .nav-toggle-label {
             display: none;
         }

         /* Main content */
         main {
             margin-top: 73px;
         }
     }

     /* Media query: tablets and larger (992px and above) */
     @media screen and (min-width: 992px) {

         /* logo */
         .logo {
             max-width: 100%;
             max-height: auto;
         }

         #menu a:hover {
             border-bottom: 1px solid #3a3a3a;
         }

         /* Main content */
         main {
             margin-top: 81px;
         }
     }